#div1{
    display: inline-block;
    text-align: center;
    background-color: red;
    height: 100px;
    width: 150px;
    border: 1px solid black;
    margin: 35px;
    line-height: 50px;
}

#div1:hover{
    transform: rotate(45deg);
}

