.container{
    display:  grid;
    height: 100vh;
    width: 100vw;
    grid-template-areas:
    "header header header header"
    "left content content content"
    "footer footer footer footer";
}

.box{
    margin: 2px;
}

.content{
    background-color: grey;
    grid-area: content;
    height: 600px;  
}

.left{
    background-color: orange;
    grid-area: left;
    height: 600px; 
}

.header{
    background-color: blue;
    grid-area: header;
    height: 170px;
}

.footer{
     background-color: green;
    grid-area: footer;
    height: 150px;
}
